@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body{
	margin:0;
}

h1{
	text-align: center;
	margin: 0;
	font-size: 16pt;
	padding: 10px 60px 10px 60px;
	background-color: #d8c19d;
	font-family:'Gentium Book Basic', serif;

}

.buy{
	position: absolute;
	top: 18px;
	right:15px;
	font-size: 12pt;
	background-color: #8f6a30;
	border-radius: 10px;
	padding:10px;
}

.logo{
	position: absolute;
	top: 20px;
	width:20%;
	padding-left: 10px;
}

nav{
	background-color:#8f6a30;
}

nav ol{
	text-decoration: none;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

nav li{
	display: block;
	margin:0;
	padding:0px;
	text-align: center;
}
.nav a {
	text-decoration: none;
	display: block;
}

.nav a:hover {
	background-color:#5f3a00;
	color: #fff;
}

a{
	text-decoration: none;
	display: block;
	padding: 0.4em 0 0.5em;
	color: #000;
}

.button{
	background-color:#d8c19d;
	display:block;
	clear: both;
	padding: 10px;
	border-radius: 18px;
	text-align: center;
	margin: 10px;
}


.banner{
	background: url("../images/maerten.jpg") center center / cover no-repeat;
	width: 100%;
	margin: 0;
	padding: 2em 15px 0.5em;
	color: #fff;
	font-size: 12pt;
	text-align: center;
	position:relative;
	display: block;
}

figure{
	margin:0;
}

h2{
	text-align: center;
	padding:10px;
	margin-bottom: 0;
	font-family:'Gentium Book Basic', serif;
}

h3{
	text-align: center;
	padding:10px;
	margin-bottom: 0;
	background-color: #d8c19d;
	margin-top: 0;
	font-size: 18pt;
	font-family:'Gentium Book Basic', serif;
}

h4{
	text-align: left;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 0;
	padding-top: 0;
	font-size: 14pt;
	padding-left: 20px;
}

h5{
	text-align: left;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 0;
	padding-top: 0;
	font-size: 14pt;
	padding-left: 20px;
}

.left{
	padding:0;
}

.right{
	padding:0;
}

.middle{
	padding:0;
}

.center{
	padding:0;
}

.wonders{
	width: 100%;
	padding: 10px;
	padding-top: 20px;
}

.wonders2{
	width: 100%;
	padding: 10px;
	padding-top: 20px;
}
.wonders3{
	width: 100%;
	padding: 10px;
	padding-top: 20px;
}

div{
	text-align: left;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 10px;
	display: block;
	font-size: 12pt;
}

.date{
	float: left;
	text-align: center;
}

.builders{
	float: left;
	text-align: center;
}

.location{
	float: left;
	text-align: center;
}

dt{
	padding-right: 5px;
	font-weight: bold;
}

dd{
	display: block;
	margin: 0;
}

p{
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	font-size: 16px;
}

.atlantis{
	background: url("../images/maroti.jpg") center center / cover no-repeat;

}

.show{
	width: 100%;
	margin: 0;
	padding: 6em 15px 0.5em;
	color: #fff;
	font-size: 12pt;
	text-align: center;
	position:relative;
	display: block;
	background-image:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));

}
.movie{
	text-align: center;
}

.quote{
	text-align: center;
}

.tickets{
	text-align: center;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #8f6a30;
	margin-bottom: 10px;
	margin-left: 2rem;
}

.times{
	text-align: center;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #8f6a30;
	margin-bottom: 10px;
	margin-left: 0.2rem;
}

ol{
	text-decoration: none;
	list-style: none;
	padding: 0;
}

ul{
	list-style: none;

}

.bottom{
	background-color: #8f6a30;
	margin: 0;
	width: 100%;
}

.link{
	padding-top: 10px;
}

li{
	text-align: left;
}

ul{
	padding-left: 20px;
	padding-right: 20px;
}

footer p{
	background-color: #d8c19d;
	margin:0;
}

footer{
	background-color: #d8c19d;
	padding-top: 10px;
}

.contact{
	text-align: left;
	padding-left:20px;
	padding-right: 20px;
	margin: 0;
	display: block;
}

.space{
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	display: inline-block;
}

.event{
	padding: 0;
}

@media only screen and (min-width: 25em){

	h1{
		text-align: center;
		margin: 0;
		font-size: 18pt;
		padding: 20px 50px 20px 50px;
		background-color: #d8c19d;
		font-family:'Gentium Book Basic', serif;

	}

	.buy{
		position: absolute;
		top: 18px;
		right:15px;
		font-size: 12pt;
		background-color: #8f6a30;
		border-radius: 10px;
		padding:10px;
	}

	.logo{
		position: absolute;
		top: 20px;
		width:15%;
		padding-left: 10px;
	}

	.tickets{
		text-align: center;
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		background-color: #8f6a30;
		margin-bottom: 10px;
		margin-left: 3rem;

}
}

@media only screen and (min-width: 32em){

	h1{
		text-align: center;
		margin: 0;
		font-size: 23pt;
	}

	nav li{
		display: inline-block;
		margin:0;
		padding-left:10px;
		padding-right: 10px;
		text-align: center;
	}

	.date{
		float: left;
		text-align: left;
		padding-right: 10px;
		width:33.33%;
		display: inline-block;
	}

	.builders{
		float:left;
		text-align: left;
		padding-right: 10px;
		width:33.33%;
		display: inline-block;
	}

	.location{
		float:left;
		text-align: left;
		padding-right: 10px;
		width:33.33%;
		display: inline-block;
	}

	.when{
		clear:both;
		padding-right: 10px;
		margin: 0;
	}

	.who{
		clear:both;
		padding-right: 10px;
		margin: 0;
	}

	.place{
		clear:both;
		padding-right: 10px;
		margin: 0;
	}

	dt{
		padding-right: 5px;
		font-weight: bold;
		margin: 0;
	}

	dd{
		margin: 0;
	}

	.tickets{
		text-align: center;
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		background-color: #8f6a30;
		margin-bottom: 10px;
		margin-left: 5rem;
	}

	.contact{
		text-align: left;
		padding-left:20px;
		padding-right: 20px;
		margin: 0;
		display: block;
	}


	.bottom{
		background-color: #8f6a30;
		margin: 0;
		width: 100%;

	}

	ul{
		padding-left: 20px;
		padding-right: 20px;
		display: inline-block;
	}

	li{
		text-align: left;
		display: inline-block;
	}

.link{
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
}

	.logo{
		position: absolute;
		top: 15px;
		width:15%;
		padding-left: 10px;
	}

}

@media only screen and (min-width: 45em){

	h1{
		font-size: 26pt;
	}

	nav ol{
		font-size: 17pt;
	}

		nav li{
		display: inline-block;
		margin:0;
		padding-left:20px;
		padding-right: 30px;
		text-align: center;
	}

	p{
		text-align: center;
		margin-right: 100px;
		margin-left: 100px;
		padding-bottom: 10px;
	}

	.wonders{
		width: 50%;
		padding: 10px;
		padding-top: 20px;
		float: left;
	}

	.button{
		background-color:#d8c19d;
		clear: both;
		padding: 10px;
		border-radius: 18px;
		text-align: center;
		margin: 10px;
		width: 50%;
		margin-left: 0px;
		margin-right: 0px;
	}

	.link{
		text-align: center;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.info{
		width: 50%;
		float: right;
	}

	h4{
		font-size: 20px;
		margin-top: 20px;
		width: 50%;
		float: right;
}

	h5{
		font-size: 20px;
		margin-top: 20px;
		width: 100%;
		float: right;
}

	.date{
		float: left;
		text-align: left;
		padding-right: 10px;
		width:100%;
		display: inline-block;
	}

	.builders{
		float:left;
		text-align: left;
		padding-right: 10px;
		width:100%;
		display: inline-block;
	}

	.location{
		float:left;
		text-align: left;
		padding-right: 10px;
		width:100%;
		display: inline-block;
	}

		.tickets{
		text-align: center;
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		background-color: #8f6a30;
		margin-bottom: 10px;
		margin-left: 10rem;
	}

	.contact{
		text-align: left;
		padding-left:20px;
		padding-right: 20px;
		margin-left: 7rem;
		display: block;
	}

}

@media only screen and (min-width: 53em){

	.logo{
		position: absolute;
		top: 15px;
		width:13%;
		padding-left: 10px;
	}

	.tickets{
		margin-left: 12.5rem;
	}

	.contact{
		text-align: left;
		padding-left:20px;
		padding-right: 20px;
		margin-left: 7rem;
		display: block;
	}
	.bottom{
		background-color: #8f6a30;
		margin: 0;
		width: 100%;
	}

	.link{
		padding-top: 10px;
		font-size: 18px;
		padding-left: 23px;
		padding-right: 23px;
	}

	.event{
		width: 50%;
		text-align: center;
	}

	p{
		font-size: 17px;
	}

}

@media only screen and (min-width: 57em){

	.logo{
		position: absolute;
		top: 15px;
		width:15%;
		padding-left: 10px;
	}

	h1{
		font-size: 29pt;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.buy{
		position: absolute;
		top: 18px;
		right:15px;
		font-size: 16pt;
		background-color: #8f6a30;
		border-radius: 10px;
		padding:10px;
	}

	nav li{
		display: inline-block;
		margin:0;
		padding-left:40px;
		padding-right: 40px;
		text-align: center;
	}
			.tickets{
		margin-left: 14.5rem;
	}
}

@media only screen and (min-width: 63em){

	.wonders{
		width: 50%;
		padding: 10px;
		padding-top: 20px;
		float: left;
	}
	.logo{
		position: absolute;
		top: 15px;
		width:13%;
		padding-left: 10px;
	}

	.right{
		float: right;
		width: 50%;
		padding-left: 0;
		padding-right: 0;
	}

	.left{
		float: left;
		width: 50%;
		padding-right: 0;
		padding-left: 0;
	}

	.center{
		width: 50%;
		text-align: center;
		clear: both;
	}

	.info{
		float:left;
		padding-bottom: 0;
	}

	h4{
		padding-bottom: 0;
	}

	.middle{
		clear: both;
		padding:0;
		font-size: 14pt;
	}

	.tickets{
		margin-left: 5rem;
		font-size: 14pt;
	}

	.link{
		padding-top: 10px;
		font-size: 20px;
		padding-left: 50px;
		padding-right: 50px;
	}

	li{
		text-align: center;
		font-size: 13pt;
	}

	h5{
		text-align: center;
	}

	p{
		font-size: 16pt;
	}

	h2{
		font-size: 20pt;
	}

	h3{
		font-size: 22pt;
	}

	h4{
		font-size: 16pt;
	}

	h5{
		font-size: 18pt;
	}

	dd{
		font-size: 14pt;
	}

	dt{
		font-size: 14pt;
	}

	.button{
		font-size: 14pt;
	}

	.times{
		font-size: 14pt;
	}

	.event{
		margin-left: 19em;
	}

}

@media only screen and (min-width: 74em){

	.tickets{
		margin-left: 8rem;
	}

}
